<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/ic_menu_view"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoUtilidades"
        tools:targetApi="31">

        <!-- Declaración de la actividad Activity1 -->
        <activity android:name=".Activity1" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaración de otras actividades -->
        <activity android:name=".ActivityInternet" android:exported="true" />
        <activity android:name=".ActivitySensores" android:exported="true" />
        <activity android:name=".ActivityCamara" android:exported="true" />
        <activity android:name=".ActivityGaleria" android:exported="true" />

        <!-- Declaración de la nueva actividad ActivityImagenAmpliada -->
        <activity android:name=".ActivityImagenAmpliada" android:exported="true"
            android:theme="@style/Theme.Transparent"/>

        <!-- Proveedor de archivos para compartir imágenes -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.proyectoutilidades.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

    <!-- Permisos necesarios para el proyecto -->
    <uses-permission android:name="android.permission.INTERNET" tools:ignore="ManifestOrder" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>
